@{
    ViewData["Title"] = "Pesanan";
    List<Table> tables = ViewBag.tables as List<Table>;
    List<KafeWeb.Models.Order> orders = ViewBag.orders as List<KafeWeb.Models.Order>;
    List<TableOrderItem> tableOrderItems = ViewBag.tableOrderItems as List<TableOrderItem>;
    List<MenuItem> menuItems = ViewBag.menuItems as List<MenuItem>;
    List<TableOrder> tableOrders = ViewBag.tableOrders as List<TableOrder>;
}

<style type="text/css">
.wrapper {
    background: url('/images/a3e62485298625.5db31762dd2a6.jpg') center no-repeat;
    background-size: cover;
}
</style>

<div class="p-3 bg-white vh-100 wrapper">
    <partial name="~/Views/Shared/_Navigator.cshtml"/>
    <div class="bg-white p-3 rounded shadow-sm">
        <div class="row">
            <div class="col col-12">
                <div class="d-flex flex-wrap">
                    @foreach (Table table in tables)
                    {
                        if (table.UseStatus) {
                            <div class="card p-3 bg-primary mr-3 mb-3" style="width: 11rem; cursor: pointer;"
                                data-toggle="modal" data-target="#modal-@table.Id">
                                <h5 class="h5 text-white text-center">@table.Name</h5>
                            </div>

                            <div class="modal fade" id="modal-@table.Id" tabindex="-1" role="dialog" aria-labelledby="modal-@table.Id-Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Pesanan @table.Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead>
                                                <th>No.</th>
                                                <th>Nama Menu</th>
                                                <th>Jumlah</th>
                                            </thead>
                                            <tbody>
                                                @{
                                                    TableOrder tableOrder = tableOrders.Where(d => d.IdTable == table.Id).FirstOrDefault<TableOrder>();
                                                }
                                                @if (tableOrder != null) {
                                                    @foreach (TableOrderItem tableOrderItem in tableOrderItems.Where(d => d.IdTableOrder == tableOrder.Id))
                                                    {
                                                        <tr>
                                                            <td>@tableOrderItem.Id</td>
                                                            <td>@menuItems.Where(d => d.Id == tableOrderItem.Order.IdMenuItem).FirstOrDefault().Name</td>
                                                            <td>@tableOrderItem.Order.quantity</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="tableDone(@tableOrder.Id)">Kosongi</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        } else {
                            <div class="card p-3 bg-secondary mr-3 mb-3" style="width: 11rem; cursor: pointer;">
                                <h5 class="h5 text-white text-center">@table.Name</h5>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const tableDone = (id) => {
        window.location = `/Order/TableDone/${id}`;
    }
</script>