@{
    ViewData["Title"] = "Menu";
    Boolean orderSuccess = (ViewBag.orderSuccess as String) == "true" ? true:false;
    List<KafeWeb.Models.Menu> menus = ViewBag.menus as List<KafeWeb.Models.Menu>;
    List<KafeWeb.Models.Order> orders = ViewBag.orders as List<KafeWeb.Models.Order>;
    KafeWeb.Models.User user = ViewBag.user as KafeWeb.Models.User;
    List<Table> tables = ViewBag.tables as List<Table>;
}

<script>
    var orders = [];
    var user = 0;
    var table = 0;
</script>

<style type="text/css">
.wrapper {
    background: url('/images/a3e62485298625.5db31762dd2a6.jpg') center no-repeat;
    background-size: cover;
}
</style>

<div class="p-3 bg-white vh-100 wrapper">
    <partial name="~/Views/Shared/_Navigator.cshtml"/>
    @if (orderSuccess) {
        <div class="alert alert-success" role="alert">
            Pesanan diproses!
        </div>
    }
    <div class="bg-white p-3 rounded shadow-sm">
        <div class="row">
            <div class="col col-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cari makanan atau minuman">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                </div>
                <div class="pt-3 d-flex flex-wrap" style="max-height: 70vh; overflow-y: auto;">
                    @foreach (KafeWeb.Models.Menu menu in menus)
                    {
                        <div class="card mr-3 mb-3" style="width: 11rem;">
                        <img class="card-img-top" src="@menu.Picture" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@menu.Name</h5>
                            <p class="p">Rp. @menu.Price</p>
                            <div class="mb-3 input-group">
                                <input class="form-control" placeholder="Jumlah" value="1"/>
                                <button class="btn btn-outline-success" 
                                    onclick="order('@menu.Id', this)">Pesan</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="col col-4">
                <div class="p-3 border rounded">
                    <div>
                        <h6 class="h6">Kasir: @user.Name</h6>
                        @if (user != null) {
                            <script>
                                user = @user.Id;
                            </script>
                        }
                    </div>
                </div>
                <div class="p-3 border rounded">
                    <div>
                        <h5 class="h5">Pesanan</h5>
                    </div>
                    <div class="mt-3 mb-3">
                        @if (orders.Count == 0) {
                            <div class="alert alert-warning text-center" role="alert">Pesanan kosong</div>
                        }
                        @if (orders.Count > 0) {
                            <div>
                                <select class="form-control" name="selectedTable" id="selectedTable"
                                    onchange="chooseTable(this.value)">
                                    <option>Pilih Meja</option>
                                    @foreach (Table table in tables)
                                    {
                                        <option value="@table.Id">@table.Name</option>
                                    }
                                </select>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Jumlah</th>
                                        <th>Subtotal</th>
                                        <th>Opsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (KafeWeb.Models.Order order in orders)
                                    {
                                        <script>
                                            orders.push(@order.Id);
                                        </script>
                                    }
                                    @foreach (KafeWeb.Models.Order order in orders)
                                    {
                                        <tr>
                                            <td>@order.Menu.Name</td>
                                            <td>@order.quantity</td>
                                            <td>@(order.Menu.Price * order.quantity)</td>
                                            <td>
                                                
                                                <a href="/Menu/CancelOrder/@order.Id" class="btn btn-danger btn-sm">Batal</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    @if (orders.Count > 0) {
                        <div class="text-right mb-3">
                            Total: Rp. @ViewBag.total
                        </div>
                        <div>
                            <button class="btn btn-success btn-block"
                                onclick="confirm()">Kirim Pesanan</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const order = (id, el) => {
        let quantity = Number(el.previousElementSibling.value);

        window.location = `/Menu/CreateOrder/${id}?quantity=${quantity}`;
    }

    const chooseTable = (val) => {
        table = Number(val);
    }

    const confirm = () => {
        let currentOrders = orders.join(",");

        if (currentOrders && table && user) {
            window.location = `/Menu/ConfirmOrder?orders=${currentOrders}&user=${user}&table=${table}`;
        } else {
            alert("Isi Semua Field");
        }
    }
</script>